Screen {
    align: center middle;
    layers: basic above;
}
/* LazyChat */

.test_border {
    /*border: solid green;*/
    width: 24%;
}

.vertical {
    width: 74%;
}


/* FriendsBox and ContentBox */
.blank {
    align: left middle;
}

.center_label{
    content-align-horizontal: center;
    content-align-vertical: middle;
    width: 100%;
    color: white;
}
