Screen {
    layout: vertical;
}

.content_box {
    height: 3fr;
    border: solid green;
}

.blank {
    background: blue 70%;
    height: 4;
    border: wide black;
}

.center_label{
    content-align-horizontal: center;
    content-align-vertical: middle;
    width: 100%;
    height: 1;
    color: white;
}


LoginBox {
    align: center middle;
}

LoginBox>Static {
    align: center middle;
}

#title {
    content-align-horizontal: center;
    text-style: reverse;
}

#any-key {
    content-align-horizontal: center;
}


Tip {
    width: 40;
    height: 9;
    padding: 1 2;
    background: $panel;
    color: $text;
    border: $secondary tall;
    align: center middle;
    content-align: center middle;
}
