Screen {
    layout: vertical;
}

.content_box {
    height: 3fr;
    border: solid green;
}

.blank {
    /* 加上使得不会有区分度 */
    background: $panel;
    /*content-align-vertical: middle;*/
    /*content-align-horizontal: center;*/
    /*border: wide black;*/
    align: left middle;
    /*border: solid green;*/
    /*width: 100%;*/
}

.center_label{
    content-align-horizontal: center;
    content-align-vertical: middle;
    width: 100%;
    color: white;
}





LoginBox {
    align: center middle;
}

LoginBox>Static {
    align: center middle;
}

#title {
    content-align-horizontal: center;
    text-style: reverse;
}

#any-key {
    content-align-horizontal: center;
}


Tip {
    width: 50%;
    height: 50%;
    padding: 1 2;
    background: $panel;
    color: $text;
    border: $secondary tall;
    align: center middle;
    content-align: center middle;
}
